html,
body {
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
    position: relative;

}

.canvas-container {
    width: 50%;
    align-items: center;
    padding: 0;
    margin: 0;
}

canvas {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pac-images {
    position: absolute;
    top: 100%;
}

.score-board {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);

}

.score {
    color: white;
    font-size: 30px;
    font-family: "Press Start 2P", system-ui;
    ;
}

.fruitScore
{
    position: relative;
    top: 480px;
    color: pink;
    left: 48%;
    font-family: "Press Start 2P", system-ui;
    font-size: larger;

}